
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Yellowtail&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.back-to-top i{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #FF69B4 ;
    color:white ;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border-radius: 50%;
    text-decoration: none;
}
#nav-area .nav-list ul li.latest,
#nav-area .nav-list ul li.Pages{
    position: relative;
}

#nav-area .nav-list ul li .dropdown {
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    list-style: none;
    z-index: 1099;
    width: 150px;
}

#nav-area .nav-list ul li .dropdown li {
    padding: 2px;
}

#nav-area .nav-list ul li .dropdown li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    white-space: nowrap;
    display: block;
    padding: 2px;
    margin-top: 2px;
}
#nav-area .nav-list ul li .dropdown li a:hover{
    color: red;
    margin-top: 2px;
}

#nav-area .nav-list ul li.latest:hover .dropdown,
#nav-area .nav-list ul li .dropdown:hover{
    display: block;
    width: 150px;
    height: 80px;
    background-color: white;
    border-top: 2px solid red;
}
#nav-area .nav-list ul li.Pages:hover .dropdown{
    display: block;
    width: 150px;
    height: 240px;
    background-color: white;
    border-top: 2px solid red;
}

#nav-area{
    position: fixed;
    padding: 0 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 1;
}
#nav-area .navbar{
    justify-content: space-between;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 100%;
}
#nav-area .navbar .nav-list li a{
    text-decoration: none;
    color: black;
}
#nav-area .navbar .nav-list li a:hover{
    color: red;
}
#nav-area .nav-list ul{
    list-style-type: none;
    font-family: "Poppins",sans-serif;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

#nav-area input[type="search"]{
    height: 30px;
    border: none;
    border: 1px solid #eeeeee;
    border-radius: 30px;
    padding: 3px 3px;
    width: 60%;
    background-color: rgb(252, 252, 245);
}
#nav-area .nav-list ul .latest{
    position: relative;
}
#nav-area .nav-list .latest span{
    position: absolute;
    top: -15px;
    left: 30px;
    font-size: 8px;
    background-color: red;
    color: white;
    border-radius: 3px;
    padding: 2px;
}
#nav-area .right {
    display: flex;
    align-items: center;
    gap: 20px;
}
#nav-area .right .heart,
#nav-area .right .shop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid rgb(240, 231, 231);
    width: 30px;
    height: 30px;
}

#nav-area .right .heart i,
#nav-area .right .shop i {
    font-size: 14px;
}
#nav-area .right .heart span,
#nav-area .right .shop span {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 10px;
    border-radius: 50%;
    background-color: rgb(31, 225, 255);
    color: white;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#nav-area .right .sign-in{
    height: 40px;
    background-color: rgb(40, 168, 248);
    width: 100px;
    padding: 7px;
    text-align: center;
    border-radius: 30px;
}
#nav-area .right .sign-in a{
    text-decoration: none;
    color: white;
}
#nav-area .nav-list .latest .dropdown{
    width: 100%;
    background: #22438C;
    display: none;
    position: absolute;
}
.latest:hover .latest .dropdown{
    display: block;
}
.bars-menu{
    display: none;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    padding: 5px;
    background-color: black;
    color: white;
}
@media(max-width:1000px) {
    .bars-menu{
        display: block;
position: fixed;
top: 70px;
right: 20px;
z-index: 1001;
cursor: pointer;
background-color: black;
color: white;
padding: 5px;
border-radius: 5px;
    }    
#nav-area{
    overflow: hidden;
}
.shop{
    display: block;
}
.nav-list,input[type="search"],.heart,.sign-in{
    display: none !important;
}
}
#image{
margin-top: 90px;
position: relative;
background-image: url("https://preview.colorlib.com/theme/estore/assets/img/hero/category.jpg.webp");
height: 300px;
background-size: cover;
background-repeat: no-repeat;
position: center center;
}
.text{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 300px;
    left: 530px;
    font-size: 50px;
    font-weight: 700;
}
.product-area{
    color: #828BB2;
    font-size: 17px;
    font-family: "Playfair Display";
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    width: 916px;
}
.container{
    max-width: 1200px;
    margin:120px 100px;
}
.product-list ul{
    display: flex;
    list-style-type: none;
    gap: 70px;
}
.product-left .image img{
    width: 150px;
    height: 155px;
}
.product-left-area{
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 10px;
    gap: 20px;
}
.products{
    margin-left: 190px;
}
.product-left{
    display: flex;
    gap: 20px;
}
.product-left .product-text{
    margin-top: 82px;
}
.price p{
    margin-left: 188px;
    margin-top: 80px;
}
.quantity-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    width: 60px;
    padding: 5px;
    height: 60px;
    margin-left: 40px;
    margin-top: 60px;
}

.quantity-container input {
    width: 30px;
    text-align: center;
    border: none;
}

.quantity-buttons {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ccc;
}

.quantity-buttons button {
    border: none;
    background: transparent;
    cursor: pointer;
    width: 20px;
    height: 15px;
    font-size: 14px;
}
.total p{
    margin-left: 40px;
    margin-top: 80px;
}
.button{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
    padding-top: 25px;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    width: 916px;
}
.button a{
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    background-color: #2577fd;
    color: white;
    padding: 17px 50px;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
}
.subtotal-area{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid grey;
    width: 916px;
    gap: 100px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: #828BB2;
    font-size: 17px;
    font-weight: 500;
}
.shopping-area{
    display: flex;
    justify-content: flex-end;
    gap: 45px;
    padding-top: 30px;
}
.shopping-area h5{
    color: #415094;
    font-weight: 600;
    font-size: 15px;
}
.shopping-area span{
    color:#828bb2 ;
    font-size: 16px;
    margin-right: 5px;
}
input[type='radio']{
    color: grey;
    margin-right: 60px;
}
.shipping-text{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}
.shipping-text span{
    color:#828bb2 ;
    font-size: 16px;
    margin-right: 5px;
}
.calculate-area{
    display: flex;
    border-bottom: 1px solid grey;
    width: 916px;
    padding-bottom: 25px;
    justify-content: flex-end;
    margin-right: 60px;
    padding-top: 25px;
}
.calculate-area h6{
    margin-right: 13px;
    color: #415094;
    font-weight: 500;
    font-size: 14px;
}
.calculate-area i{
    margin-top: 5px;
}
.bangle,.state,.post{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    padding-top: 20px;
}
.bangle select,.state select,.post input[type='text']{
    width: 200px;
    height: 40px;
    padding: 5px;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
}

.btn{
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    width: 916px; 
}
.btn a{
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    background-color: #2577fd;
    color: white;
    padding: 17px 50px;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
}
.btn1 a{
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    background-color: #2577fd;
    color: white;
    padding: 17px 50px;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
}
.btn1{
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    padding-bottom: 20px;
    gap: 20px;
    width: 916px;
}
.button a:hover,.btn a:hover,.btn1 a:hover{
    color: #2862e0;
    border: 1px solid #2862e0;
    background-color: white;
}
#footer-area .footer{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
}
#footer-area .footer-list-1 p{
    width: 300px;
    line-height: 1.5;
}
#footer-area .footer-list-1 img{
    margin-bottom: 40px;
}
#footer-area .footer-list-2 h4, .footer-list-3 h4, .footer-list-4 h4{
    margin-bottom: 30px;
}
#footer-area .footer-list-2 a, .footer-list-3 a, .footer-list-4 a{
    text-decoration: none;
    color: #373b41;
    margin-top: 5px;
    display: inline-block;
    cursor: pointer;
}
#footer-area .footer-list-2 ul, .footer-list-3 ul, .footer-list-4 ul{
    list-style-type: none;
    padding: 0;
}
#footer-area .footer-son{
    margin-bottom: 40px;
    margin-top: 60px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
#footer-area .footer-son-right{
    font-size: 15px;
    margin-left: 40px;
}
#footer-area .footer-son-left{
    margin-right: 117px;

}
#footer-area .footer-son-left i:hover{
    color: #2862e0;
    cursor: pointer;
}